.circulo {
    margin-left: 10px;
    margin-top:10px;
    flex-grow: 0;
    width: 40px;
    height: auto;
    border-radius: 50%;
}
span{
    margin-left: 10px;
    margin-top:20px;
    color: rgb(241, 78, 78);
}
#iconeDeSair{
    margin-left: 20px;
    margin-top:20px;
    background-color: rgb(241, 78, 78);
    border: 0;
    padding: 3px 3 3px 3px;
    border-radius: 3px;
    font-weight: 600;
}
#iconeDeSair:hover {
    color: rgb(71, 70, 70);
    cursor: pointer;
  }