:host{
    display: block;
    width: 100%;
    .button{
        background-color: rgb(71, 70, 70);
        color: rgb(241, 78, 78);

        width: 100%;
        border: 0;
        padding: 4px 0 6px 0px;
        border-radius: 3px;
        text-align: left;
        font-size: 1rem;
        font-weight: 600;
        
        span{
            display:  inline-block;
            vertical-align: middle;
            width: 150px;
            white-space: nowrap;
            margin-left: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-top: 1px;
            font-size: 0.8rem;
        }
    }
    .button:hover {
        background-color: rgb(241, 78, 78);
        color: rgb(71, 70, 70);
        cursor: pointer;
      }
    .selecionado{
        background-color: rgb(255, 51, 51);
        color: rgb(71, 70, 70);
        cursor: pointer;
    }
    .icone{
        width: 15px;
        height: 15px;
        margin-bottom: 0 !important;
        vertical-align: center;
        margin-left: 10px;
        vertical-align: middle;
    }
    
}